[submodule "themes/hucore"]
	path = themes/hucore
	url = https://github.com/mgjohansen/hucore.git
[submodule "layouts/shortcodes"]
	path = layouts/shortcodes
	url = https://github.com/nayed/hugo-shortcodes.git
